@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
  background-color:#fff;
  font-family: 'Zilla Slab', serif;
}
.ui.header {
	font-family: 'Zilla Slab', serif;

}

.container {
	max-width:900px;
	margin:50px auto;
}
.timeline{
	position:relative;
	display:flex;
	flex-direction:column;
	list-style:none;
	padding-top: 20px;
	padding-bottom: 20px;
}
/* the timeline's center vertical line */
.timeline:before{
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	left:50%;
	width: 1px;
	background-color: #ccc;
}
.timeline li{
	border-top:1px solid #ccc;
	position:relative;
	width:50%;
	min-height:100px;
	margin-bottom:20px;
	padding: 20px 40px;
	text-align: right;
	transition:.3s;
	opacity:0;
	transform: translateX(-10%);
  
}
/* the rounded mark on each timeline item */
.timeline li:before {
	content:"";
	width: 10px;
	height: 10px;
	position: absolute;
	top: 0;
	right: 0;
	background: #ccc;
	border-radius:50%;
	box-sizing:border-box;
	transform: translate(50%,-50%);
}
.timeline h3 {
	font-size:28px;
	margin-bottom: 10px;
}
.timeline p {
  font-size: 20px;
  line-height: 28px;
}
.timeline li:nth-child(2n) {
	align-self: flex-end;
	text-align: left;
	transform: translateX(10%);
}
.timeline li:nth-child(2n):before {
	left: 0;
  transform: translate(-50%,-50%);
}
.timeline li.visible {
	opacity:1;
	transform:translateX(0);
}

/* visited link */
a:visited {
	color: rgb(139, 120, 170);
}

/* mouse over link */
a:hover {
color: hotpink;
}

/* selected link */
a:active {
color: blue;
}

.ui.selection.dropdown {
	margin: 5% 5%;
}

section {
	opacity: 0;
	transform: translate(0, 50px); 
	transition: all 2s;
}

section.visible {
	opacity: 1;
	transform: translate(0, 0); 
}

#parallax {
	/* The image used */
	background-image: url("https://cdn.kastatic.org/ka-perseus-images/2bef2de44f5eb5fe1f726c7449e679b40bd6283e.png");
  
	/* Set a specific height */
	height: 80%;
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }

  .slideshow {
	list-style-type: none;
  }
  
  /** SLIDESHOW **/
  .slideshow,
  .slideshow:after { 
	  top: -16px; /*Not sure why I needed this fix*/
		  position: fixed;
	  width: 100%;
	  height: 100%;
	  left: 0px;
	  z-index: 0; 
  }
  
  .slideshow li span { 
		  position: absolute;
	  width: 100%;
	  height: 100%;
	  top: 0px;
	  left: 0px;
	  color: transparent;
	  background-size: cover;
	  background-position: 50% 50%;
	  background-repeat: no-repeat;
	  opacity: 0;
	  z-index: 0;
	  animation: imageAnimation 30s linear infinite 0s; 
  }
  
  
  
  .slideshow li:nth-child(1) span { 
	  background-image: url("https://uploads-ssl.webflow.com/5976a3655fcd654cb3d604ca/5bfa14d04ae3429879830ee4_home-hero.jpg"); 
  }
  .slideshow li:nth-child(2) span { 
	  background-image: url("https://uploads-ssl.webflow.com/5976a3655fcd654cb3d604ca/5c00c9ecd82b40364fc97f4b_bridge.jpg");
	  animation-delay: 6s; 
  }
  .slideshow li:nth-child(3) span { 
	  background-image: url("https://uploads-ssl.webflow.com/5976a3655fcd654cb3d604ca/5c00c9963ea913260bb41b0e_powerlines.jpg");
	  animation-delay: 12s; 
  }
  .slideshow li:nth-child(4) span { 
	  background-image: url("https://uploads-ssl.webflow.com/5976a3655fcd654cb3d604ca/5bfa14d04ae3429879830ee4_home-hero.jpg");   
	  animation-delay: 18s; 
  }
  .slideshow li:nth-child(5) span { 
	  background-image: url("https://uploads-ssl.webflow.com/5976a3655fcd654cb3d604ca/5c00c9963ea913260bb41b0e_powerlines.jpg");
	  animation-delay: 24s; 
  }
  
  
  
  @keyframes imageAnimation { 
	  0% { opacity: 0; animation-timing-function: ease-in; }
	  8% { opacity: 1; animation-timing-function: ease-out; }
	  17% { opacity: 1 }
	  25% { opacity: 0 }
	  100% { opacity: 0 }
  }
  
  
  @keyframes titleAnimation { 
	  0% { opacity: 0 }
	  8% { opacity: 1 }
	  17% { opacity: 1 }
	  19% { opacity: 0 }
	  100% { opacity: 0 }
  }
  
  
  .no-cssanimations .cb-slideshow li span {
	  opacity: 1;
  }