@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
  background-color:#fff;
  font-family: 'Zilla Slab', serif;
}
.ui.header {
	font-family: 'Zilla Slab', serif;

}

.container {
	max-width:900px;
	margin:50px auto;
}
.timeline{
	position:relative;
	display:flex;
	flex-direction:column;
	list-style:none;
	padding-top: 20px;
	padding-bottom: 20px;
}
/* the timeline's center vertical line */
.timeline:before{
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	left:50%;
	width: 1px;
	background-color: #ccc;
}
.timeline li{
	border-top:1px solid #ccc;
	position:relative;
	width:50%;
	min-height:100px;
	margin-bottom:20px;
	padding: 20px 40px;
	text-align: right;
	transition:.3s;
	opacity:0;
	transform: translateX(-10%);
  
}
/* the rounded mark on each timeline item */
.timeline li:before {
	content:"";
	width: 10px;
	height: 10px;
	position: absolute;
	top: 0;
	right: 0;
	background: #ccc;
	border-radius:50%;
	box-sizing:border-box;
	transform: translate(50%,-50%);
}
.timeline h3 {
	font-size:28px;
	margin-bottom: 10px;
}
.timeline p {
  font-size: 20px;
  line-height: 28px;
}
.timeline li:nth-child(2n) {
	align-self: flex-end;
	text-align: left;
	transform: translateX(10%);
}
.timeline li:nth-child(2n):before {
	left: 0;
  transform: translate(-50%,-50%);
}
.timeline li.visible {
	opacity:1;
	transform:translateX(0);
}

/* visited link */
a:visited {
	color: rgb(139, 120, 170);
}

/* mouse over link */
a:hover {
color: hotpink;
}

/* selected link */
a:active {
color: blue;
}

.ui.selection.dropdown {
	margin: 5% 5%;
}

section {
	opacity: 0;
	transform: translate(0, 50px); 
	transition: all 2s;
}

section.visible {
	opacity: 1;
	transform: translate(0, 0); 
}

#parallax {
	/* The image used */
	background-image: url("https://www.history.com/.image/t_share/MTU3ODc5MDg2OTcyOTM3NTQ1/rafael-sanzio-da-urbino-april-6-or-march-28-1483-april-6-1520-the-school-of-athens-or-scuola-di-atene-in-italian-is-one-of-the-most-famous-paintings-by-the-italian-renaissance-artist-raphael.jpg");
  
	/* Set a specific height */
	height: 80%;
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }
